.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{

  --primary: #01192E;
  --secondary: #21375C;
  --secondary-purple: #5E5EFB;
  --light-purple: #7975f0 ;
  --inactive-black: #343434;
  --white: #ffffff;
  --gray: #dae6f5;
  --yellow: #f8f8f8;
  --orange: rgb(138, 31, 7);
  --red:  #f0dcdc;
  
}

.navbar_container{
  height: 20%;
  width: 100vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

.body_container{
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: var(--white);
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

